<?xml version="1.0"?>
<configuration>
  <appSettings/>
  <connectionStrings>
    <add name="SampleDatabase" connectionString="Data Source=(localdb)\v11.0;AttachDbFilename=|DataDirectory|\SampleDatabase.mdf;Integrated Security=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation targetFramework="4.0" debug="true"/>
  </system.web>
</configuration>